<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TTNT</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet"> 
    <link href="css/main.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    <script src="js/wow.min.js"></script>
         <script>
              new WOW().init();
              </script>

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 0px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Kurama</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <%if (userInfor == null) { %>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="" href="/agency/login"> Đăng nhập </a>
                    </li>
                    <li>
                        <a class="" href="/agency/signup"> Đăng kí </a>
                    </li>

                </ul>
                <% }else{ %>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="" href="/agency/<%=userInfor.UserName%>"> <%= userInfor.UserName %> </a>
                        </li>
                        <li>
                            <a class="" href="/agency/deal"> Deal </a>
                        </li>
                        <li>
                            <a class="" href="/agency/sale"> Sale </a>
                        </li>
                        <li>
                            <a  class="logout-button" href="/agency/logout"> Logout </a>
                        </li>

                    </ul>
                <% }%>
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="wow bounceInDown">Kurama</div>
                <div class="wow bounceInUp">Blockchain track</div>
                <a href="#team" class="btn btn-default slider-btn animated fadeIn">Follow us</a>
            </div>
        </div>
    </header>