<% include partials/navbar %>
        <!-- page content -->
        <link href="css/shop-homepage.css" rel = "stylesheet">
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                <div class="container" id="products">

                    <div class="row">

                        <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">

                            <a href="#"><img class="card-img-top"  style="width: 300px; height: 300px;" src="../images/computer.png" alt="">
                            <div id="qrcodeTable" class="topcorner"></div>
                            </a>
                            <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" class="product_name">Item One</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                            </div>
                            <!-- <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div> -->
                        </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">

                            <a href="#"><img class="card-img-top"  style="width: 300px; height: 300px;" src="../images/rubik.jpg" alt="">
                            <div id="qrcodeTable2" class="topcorner"></div>
                            </a>

                            <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" class="product_name">Item Two</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">

                            <a href="#"><img class="card-img-top"  style="width: 300px; height: 300px;" src="../images/headphone.jpg" alt="">
                            <div id="qrcodeTable3" class="topcorner"></div>
                            </a>

                            <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" class="product_name">Item Three</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                            </div>
                        </div>
                        </div>

                    </div>
                        <!-- /.row -->

                </div>
            </div>

          </div>
          <br />
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Copyright © Kurama 2018
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

    <script>

        var socket = io('http://localhost:3000');
        console.log('lol')
        // console.log(socket);
        data = 2
        console.log('<%=userInfor%>');
        // socket.emit('test1',data);
        socket.on('test',function(data){
            if(data.idAgency === <%=userInfor.UserID%>){
                // console.log(data);
                alert("Transaction is success!!!");
            }

        })
    </script>
    <!-- jQuery -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="library/jquery-qrcode/src/jquery.qrcode.js"></script>
    <script type="text/javascript" src="library/jquery-qrcode/src/qrcode.js"></script>
    <script>
        //jQuery('#qrcode').qrcode("this plugin is great");
        jQuery('#qrcodeTable').qrcode({
            text	: "1",
            width: 100,
            height: 100
        });
        jQuery('#qrcodeTable2').qrcode({
            text	: "1",
            width: 100,
            height: 100
        });
        jQuery('#qrcodeTable3').qrcode({
            text	: "1",
            width: 100,
            height: 100
        });
        // jQuery('#qrcodeCanvas').qrcode({
        //   text	: "http://jetienne.com"
        // });
    </script>

  </body>
</html>
