<% include partials/navbar %>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">


            <div class="clearfix"></div>

            <div class="row">
              <div class="">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Basic Tables <small>basic table subtitle</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>From</th>
                          <th>To</th>
                          <th>Transaction ID</th>
                          <th>Transaction Hash</th>
                          <th>Value</th>
                          <th>Created Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i< transactions.length; i++) {%>
                          <tr>
                          <th scope="row">1</th>
                           <td><%= transactions[i].FromId %></td>
                           <td><%= transactions[i].ToId %></td>
                           <td><%= transactions[i].TransactionId %></td>
                           <td><a style = "" href = "https://ropsten.etherscan.io/tx/<%= transactions[i].TxHash %>"><%= transactions[i].TxHash %></a></td>
                           <td><%= transactions[i].Value %></td>
                           <td><%= transactions[i].CreatedDate%></td>
                          </tr>
                        <% } %>


                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->

        <!-- /footer content -->
      </div>
    </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Copyright © Kurama 2018
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="./vendors/jquery/dist/jquery.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="./build/js/custom.js"></script>
    <script src="./build/js/agency.js"></script>
    <script src="./library/bootstrap-notify.min.js"></script>
    <script type="module">
        import QrScanner from "./js/qr-scanner.min.js";
        const video = document.getElementById('qr-video');
        const debugCheckbox = document.getElementById('debug-checkbox');
        const debugCanvas = document.getElementById('debug-canvas');
        const debugCanvasContext = debugCanvas.getContext('2d');
        const camQrResult = document.getElementById('cam-qr-result');
        const fileSelector = document.getElementById('file-selector');
        const fileQrResult = document.getElementById('file-qr-result');

        function setResult(label, result) {
            label.textContent = result;
            label.style.color = 'teal';
            clearTimeout(label.highlightTimeout);
            label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);
        }


        // ####### Web Cam Scanning #######

        const scanner = new QrScanner(video, result => setResult(camQrResult, result));
        scanner.start();


        // ####### File Scanning #######

        fileSelector.addEventListener('change', event => {
            const file = fileSelector.files[0];
            if (!file) {
                return;
            }
            QrScanner.scanImage(file)
                .then(result => setResult(fileQrResult, result))
                .catch(e => setResult(fileQrResult, e || 'No QR code found.'));
        });


        // ####### debug mode related code #######

        debugCheckbox.addEventListener('change', () => setDebugMode(debugCheckbox.checked));

        function setDebugMode(isDebug) {
            const worker = scanner._qrWorker;
            worker.postMessage({
                type: 'setDebug',
                data: isDebug
            });
            if (isDebug) {
                debugCanvas.style.display = 'block';
                worker.addEventListener('message', handleDebugImage);
            } else {
                debugCanvas.style.display = 'none';
                worker.removeEventListener('message', handleDebugImage);
            }
        }

        function handleDebugImage(event) {
            const type = event.data.type;
            if (type === 'debugImage') {
                const imageData = event.data.data;
                if (debugCanvas.width !== imageData.width || debugCanvas.height !== imageData.height) {
                    debugCanvas.width = imageData.width;
                    debugCanvas.height = imageData.height;
                }
                debugCanvasContext.putImageData(imageData, 0, 0);
            }
        }
    </script>

  </body>
</html>
