<% include partials/navbar %>

    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Các chủ đề công nghệ mới nhất</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="view efffect">
                              <div class="portfolio-image">
                                  <img src="img/portfolio/roundicons.png" alt="">
                              </div> 
                              <div class="mask text-center">
                                  <h2>Round Icons</h2>
                                  <h3>Graphic Design</h3>
                                  <a href="#"><i class="fa fa-link"></i></a>
                                  <a href="img/portfolio/roundicons.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                              </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="view efffect">
                              <div class="portfolio-image">
                                  <img src="img/portfolio/startup-framework.png" alt="">
                              </div> 
                              <div class="mask text-center">
                                  <h2>Startup Framework</h2>
                                  <h3>Website Design</h3>
                                  <a href="#"><i class="fa fa-link"></i></a>
                                  <a href="img/portfolio/startup-framework.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                              </div>
                        </div>
                    <div class="portfolio-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="view efffect">
                              <div class="portfolio-image">
                                  <img src="img/portfolio/treehouse.png" alt="">
                              </div> 
                              <div class="mask text-center">
                                  <h2>Treehouse</h2>
                                  <h3>Website Design</h3>
                                  <a href="#"><i class="fa fa-link"></i></a>
                                  <a href="img/portfolio/treehouse.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                              </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="view efffect">
                              <div class="portfolio-image">
                                  <img src="img/portfolio/golden.png" alt="">
                              </div> 
                              <div class="mask text-center">
                                  <h2>Golden</h2>
                                  <h3>Website Design</h3>
                                  <a href="#"><i class="fa fa-link"></i></a>
                                  <a href="img/portfolio/golden.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                              </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Golden</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="view efffect">
                              <div class="portfolio-image">
                                  <img src="img/portfolio/escape.png" alt="">
                              </div> 
                              <div class="mask text-center">
                                  <h2>Escape</h2>
                                  <h3>Website Design</h3>
                                  <a href="#"><i class="fa fa-link"></i></a>
                                  <a href="img/portfolio/escape.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                              </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Escape</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="view efffect">
                              <div class="portfolio-image">
                                  <img src="img/portfolio/dreams.png" alt="">
                              </div> 
                              <div class="mask text-center">
                                  <h2>Dreams</h2>
                                  <h3>Website Design</h3>
                                  <a href="#"><i class="fa fa-link"></i></a>
                                  <a href="img/portfolio/dreams.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                              </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dreams</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <% include partials/footer %>   