<% include partials/navbar %>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                      <h2>Join Community</h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <br>
                      <form class="form-horizontal form-label-left">

                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Community</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" id="community_name">
                              <option>Choose Community</option>
                              <option>MC1</option>
                              <option>MC2</option>
                              <option>MC3</option>
                              <option>MC4</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">Upload User List</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="file" id="selectFiles" value="Import" /><br />
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="button" class="btn btn-primary">Cancel</button>
                            <button type="button" class="btn btn-success" id="submit_join">Join</button>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
            </div>

          </div>
          <br />
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Copyright © Kurama 2018
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>


    <!-- jQuery -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="build/js/custom.js"></script>
    <!-- <script src="build/js/agency.js"></script> -->
    <script src="library/bootstrap-notify.min.js"></script>

    <script>
        $(document).ready(function() {

        // Submit create Agency
        var server_post = "http://10.79.1.213:8080"
        // console.log(<%=user.UserID%>);
        console.log('<%= user.UserID %>');
        document.getElementById('submit_join').onclick = function() {
            var files = document.getElementById('selectFiles').files;
            console.log(files);
            if (files.length <= 0) {
                return false;
            }

            var fr = new FileReader();

            fr.onload = function(e) {
                console.log(e);
                var result = JSON.parse(e.target.result);
                var list_users = JSON.stringify(result, null, 2);
                console.log(list_users)
            /* 		document.getElementById('result').value = formatted; */

                var community_name = $('#community_name option:selected').text()
                var community_id = 0

                if (community_name == "MC1"){
                    community_id = 1
                }else if (community_name == "MC2"){
                    community_id = 2
                }else if (community_name == "MC3"){
                    community_id = 3
                }else{
                    community_id = 4
                }
                var data_post = {
                    "communityID": community_id,
                    "agencyID": '<%= user.UserID %>',
                    "userList": list_users
                }
                console.log(data_post)
                $.ajax({
                    url: server_post+"/agency/joinCommunity",
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                            console.log("data response: " + JSON.stringify(data))
                            if (data.status == "success"){
                                $.notify({
                                    title: '<strong>Success:<br></strong>',
                                    message: 'Joined Community'
                                },{
                                    type: 'success',
                                    offset:{
                                        x: 30,
                                        y: 60
                                    }
                                });
                            }else{
                                $.notify({
                                    title: '<strong>Error:<br></strong>',
                                    message: "Can't join Community"
                                },{
                                    type: 'danger',
                                    offset:{
                                        x: 30,
                                        y: 60
                                    }
                                });
                            }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        // alert("some error");
                        $.notify({
                            title: '<strong>Error:<br></strong>',
                            message: "Can't join Community"
                        },{
                            type: 'danger',
                            offset:{
                                x: 30,
                                y: 40
                            }
                        });
                    },
                    data: JSON.stringify(data_post)
                });
            }
            fr.readAsText(files.item(0));
        };



    });
    </script>

  </body>
</html>
