<% include partials/navbar %>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row x_panel" align="center">
            <div class="col-lg-6 col-md-8 mb-6 " style="margin: 0 auto; left: 310px;">
                <div class="card h-100">

                    <div style="margin: 0 auto;">
                    <video muted autoplay playsinline id="qr-video" width="400" height="400" ></video>
                    <canvas id="debug-canvas" style="display: none;"></canvas>
                    </div>
                    <div class="card-body">
                    <b>Detected QR code: </b>
                    <span id="cam-qr-result">None</span>
                    </div>
                </div>
            </div>
          </div>
          <br />
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Copyright © Kurama 2018
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <script>

    </script>
    <!-- jQuery -->
    <script src="./vendors/jquery/dist/jquery.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="./build/js/custom.js"></script>
    <script src="./build/js/agency.js"></script>
    <script src="./library/bootstrap-notify.min.js"></script>
    <script type="module">
        import QrScanner from "./js/qr-scanner.min.js";
        const video = document.getElementById('qr-video');
        const debugCheckbox = document.getElementById('debug-checkbox');
        const debugCanvas = document.getElementById('debug-canvas');
        const debugCanvasContext = debugCanvas.getContext('2d');
        const camQrResult = document.getElementById('cam-qr-result');
        const fileSelector = document.getElementById('file-selector');
        const fileQrResult = document.getElementById('file-qr-result');
        var flag = true;
        function setResult(label, result) {
            // label.textContent = result;
            label.style.color = 'teal';
            clearTimeout(label.highlightTimeout);
            label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);
            console.log('<%= userInfor.UserID%>')
            var fromID = '<%= userInfor.UserID %>'
            console.log("ID" + result);
            var server_post = "http://10.79.1.213:8080"
            var data_post = {
                "from": fromID,
                "to": result,
                "value":1
            }
            if(label.textContent != result){
              $.ajax({
              url: server_post+"/admin/sendGift",
              type: 'POST',
              dataType: 'json',
              contentType: 'application/json',
              success: function (data) {
              console.log("data response: " + JSON.stringify(data))
              if (data.status == "success sendGift"){
                $.notify({
                  title: '<strong>Success:<br></strong>',
                  message: 'sent QR code'
                },{
                  type: 'success',
                  offset:{
                    x: 30,
                    y: 60
                  }
                });
              }else{
                $.notify({
                  title: '<strong>Error:<br></strong>',
                  message: "Can't send QR code"
                },{
                  type: 'danger',
                  offset:{
                    x: 30,
                    y: 60
                  }
                });
              }
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
              // alert("some error");
              $.notify({
              title: '<strong>Error:<br></strong>',
              message: "Can't send QR code"
              },{
              type: 'danger',
              offset:{
                x: 30,
                y: 40
              }
              });
              },
              data: JSON.stringify(data_post)
              });
              label.textContent = result;
            }


            // if(flag == true){



            }
            // }
            // var flag = false;


        // ####### Web Cam Scanning #######

        const scanner = new QrScanner(video, result => setResult(camQrResult, result));
        scanner.start();


        // ####### File Scanning #######

        fileSelector.addEventListener('change', event => {
            const file = fileSelector.files[0];
            if (!file) {
                return;
            }
            QrScanner.scanImage(file)
                .then(result => setResult(fileQrResult, result))
                .catch(e => setResult(fileQrResult, e || 'No QR code found.'));
        });


        // ####### debug mode related code #######

        debugCheckbox.addEventListener('change', () => setDebugMode(debugCheckbox.checked));

        function setDebugMode(isDebug) {
            const worker = scanner._qrWorker;
            worker.postMessage({
                type: 'setDebug',
                data: isDebug
            });
            if (isDebug) {
                debugCanvas.style.display = 'block';
                worker.addEventListener('message', handleDebugImage);
            } else {
                debugCanvas.style.display = 'none';
                worker.removeEventListener('message', handleDebugImage);
            }
        }

        function handleDebugImage(event) {
            const type = event.data.type;
            if (type === 'debugImage') {
                const imageData = event.data.data;
                if (debugCanvas.width !== imageData.width || debugCanvas.height !== imageData.height) {
                    debugCanvas.width = imageData.width;
                    debugCanvas.height = imageData.height;
                }
                debugCanvasContext.putImageData(imageData, 0, 0);
            }
        }
    </script>

  </body>
</html>
