/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */

/* body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
} */
.topcorner{
  position:absolute;
  top:0;
  right:0;
 }
 img{
  width: 300px
 }
 #products{
   margin-top: 100px;
   margin-bottom: 100px;
 }

.product_name{
  color: #fc7700;
}